.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box {
    height: 320px;
    width: 300px;
    background-color: white;
    border: 4px rgb(209, 207, 207) solid;
    border-radius: 5px;
    margin: 10px;
    

}

.card-img {
    position: relative;
    height: 200px;
    width: 294px;
    border-bottom: 1px solid rgb(209, 207, 207);
    border-radius: 3px;
}

.card-body {
    padding-left: 20px;
}

.pname {
    height: 35px;
    overflow: hidden;

}