.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 10px 80px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);

}

.left-side img {
    width: auto;
    height: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(156, 169, 194);
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

@media screen and (max-width:760px) {
    #navbar {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
